---
import Layout from "../layouts/Layout.astro";
import { wpquery } from "../graphql/wordPressQuery";
import { Debug } from "astro:components";

const data = await wpquery({
	query: `
  {
    posts{
      nodes{
        slug
        excerpt
        title
        id
      }
    }
  }
 	`,
});

---

<Layout title="AstroとWordPressを使ったブログ記事ページ">
	<main>
		<h1><span class="text-gradient">ブログ記事一覧</span></h1>
		{
			data.posts.nodes.map((post: any) => (
				<>
					<h2 set:html={post.title} />
					<p set:html={post.excerpt} />
          <a href={`/blog/${post.slug}/`} set:html={post.title} />

				</>
			))
		}
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}

	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
</style>